lab 4/travelbooking.dtd

<!ELEMENT travelBooking (booking+)>
<!ELEMENT booking (traveler, flight, price, bookingID)>
<!ELEMENT traveler (name, contact)>
<!ELEMENT flight (airline, date, route)>
<!ELEMENT route (from, to)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT bookingID (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT contact (#PCDATA)>
<!ELEMENT airline (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT to (#PCDATA)>
